$darkBlue: #121f36;
$blueLight: #0a7cc9;
$blueLightLight: #00bcd4;
$red: #cd2c2c;
$grey: #515151;

.home {
  background-color: $blueLight;
  color: whitesmoke;
}

.darkBlue {
  color: $darkBlue;
  font-weight: 600;
  font-size: 30px;
}

.vidrios {
  background-color: $red;
  color: whitesmoke;
}

.gris {
  color: $grey;
  font-weight: 600;
}

.blueLightLight {
  background-color: $blueLight;
  color: $blueLightLight;
  font-weight: 500;
}
