.buildingMaintenanceAndRestorations {
  margin: 0px;
  padding: 0px;
  &__promoTitle {
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px 2px rgb(89, 106, 233);
    color: royalblue;
    background-color: rgb(238, 248, 104);
    padding: 5px;
    border-radius: 5%;
    span {
      color: red;
    }
    span img {
      width: 70px;
      margin: 0px 10px;
    }
  }
}
.animate__animated.animate__zoomIn {
  --animate-duration: 4s;
  animation-iteration-count: infinite;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
  animation-iteration-count: infinite;
}

/* DESKTOP························································································································ */
@media (min-width: 1024px) {
  .buildingMaintenanceAndRestorations {
    &__promoTitle {
      border-radius: 40%;
      span {
      }
      span img {
      }
    }
  }
}
