@import "../../../assets/index.scss";

.contacts {
  margin: 0;
  background-color: $red;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 3px;
  &__row1 {
    display: flex;
    justify-content: space-around;
    &__text {
      margin: 0;
      font-size: 0.9rem;
      font-weight: 600;
      &__img {
        fill: white;
      }
    }
  }
  &__row2 {
    display: flex;
    justify-content: space-evenly;
    &__text {
      margin: 0;
      font-size: 0.9rem;
      font-weight: 600;
    }
  }
}
